<div class="jumbotron">
    <h1>METAXPRESS</h1>
    <p>Omni-Source Metadata Discovery.</p>
  </div>

<!-- conatianer for step by step data new mod requiremnt -->

<div class="container">

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Select Source</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/addNew.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Create a new connection for Metadata source
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="openDialog('Add',{})">SELECT</button>

    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Ingest Metadata</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/gg.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Ingest Metadata from existing connection
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="newTab('INGEST',{})"> INGEST</button>

    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>View Knowledge Graph</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../assets/graph.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content style ="margin-bottom: 12px;">
      <p>
        View Knowledge Graph created in Metadata Repository
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary"  (click)="newTab('VIEW',{})">VIEW</button>

    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Search & Discovery </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/search.png" alt="Photo of a Shiba Inu">
    <mat-card-content style ="margin-bottom: 16px;">
      <p>
        Analyst Tool to search and discover from Metadata Repository
      </p>
    </mat-card-content>
    <mat-card-actions>
      
      <button mat-raised-button color="primary" (click)="newTab('SEARCH',{})">SEARCH</button>

    </mat-card-actions>
  </mat-card>
 <!--  <button mat-button class="buttonFloatRight" (click)="openDialog('Add',{})" mat-flat-button color="primary">New
      Connection +</button> -->

</div>