.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .mat-raised-button.mat-button-base.mat-primary.ng-star-inserted {
    width: 17%;
  }