<div class="jumbotron">
  <h1>METAXPRESS</h1>
  <p> Omni-Source Metadata Discovery.</p>
</div>
<div class="container">

    <!-- <form #newUserForm="ngForm" (ngSubmit)="onSubmit(newUserForm)">

<div class="form-group">
        <label for="exampleInputUsername1" style="color:white !important;">Usernamedasdsadasdad</label>
        <input #userName="ngModel" [(ngModel)]="username" aria-describedby="userNameHelp" class="form-control"
               id="exampleInputUsername1"
               name="username" placeholder="Enter username" required type="text">
        <div *ngIf="!userName.valid && userName.touched">Username is required!</div>
        <small class="form-text text-muted" id="emailHelp" style="color:white !important;">We'll never share your username with anyone else.</small>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1" style="color:white !important;">Password</label>
        <input #userPassword="ngModel" [(ngModel)]="password" class="form-control"
               id="exampleInputPassword1" name="password" placeholder="Password" required type="password"
               type="password">
        <div *ngIf="!userPassword.valid && userPassword.touched">Password is required!</div>
      </div>


      <div class="form-group">

        <div class="form-check">
          <input class="form-check-input" id="exampleCheck1" type="checkbox">
          <label class="form-check-label" for="exampleCheck1" style="color:white;" >Remember</label>
        </div>
      </div>

      <div class="form-group">

        <div class="btn-group">
          <button [disabled]="!newUserForm.form.valid"  [ngClass]="['bntStyle']" class="btn btn-primary" type="submit">Register</button>
        </div>
        
      </div> 
     
    </form>
 -->
    <form #newUserForm="ngForm" (ngSubmit)="onSubmit(newUserForm)">

    <div class="example-container">
      <mat-form-field>
        <input matInput #userName="ngModel" [(ngModel)]="username" aria-describedby="userNameHelp" 
        id="exampleInputUsername1"
        name="username" placeholder="Enter username" required type="text">
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" 
        #userPassword="ngModel" [(ngModel)]="password" 
        id="exampleInputPassword1" name="password" placeholder="Password" required 
        >
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        
        </button>
      </mat-form-field>
    
      <button mat-raised-button color="primary"
      
      [disabled]="!newUserForm.form.valid"   type="submit"
      
      >Login</button>
    </div>
  </form>

<!-- app.component.html -->





    

</div> 







