.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }


  .jumbotron{
    background-color: transparent;
    
    padding: 10px 0 10px 0;
  
  }
  
  .jumbotron h1,p{
    text-align: center;
   
  
  }
  .jumbotron h1{
    
    font-family: 'Josefin Sans', sans-serif;
  
  }

  .mat-raised-button.mat-button-base.mat-primary
  {
    width: 17%;
  }

 